{% extends 'base.html' %} {% block content %}

{% load static %}

<div class="container container__md">

  <!-- .about -->
  <div class="about">
    <div class="about__imgbox">
      <img src="{% static '/forum/images/about.jpg' %}" alt="О нас">
    </div>
    <div class="about__content">
      <h1 class="h2 font__Pixel">О нас</h1>
      <p>
        Компания-разработчик мобильных приложений M3. Мы работаем в разных нишах, делаем проекты исключительно под себя, не занимаемся коммерцией и продолжаем развиваться.
      </p>
      <p>
        Этот сайт был создан с целью объединения соло-разработчиков и маленьких команд для обмена опытом и информацией, чтобы облегчить работу, найти ответы на вопросы, обучиться чему-то новому и быть в курсе основных новостей рынка мобильных приложений.
      </p>
    </div>
  </div>
  <!-- /.about -->

</div>

{% endblock %}