<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static '/forum/images/favicon.png' %}">
    <title>M3 Forum</title>

    <link rel="stylesheet" href="{% static '/forum/css/reboot.min.css' %}">
    <link rel="stylesheet" href="{% static '/forum/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/forum/css/style.css' %}?v1.1.1">

    <!--[if lt IE 10]>
  <div style="text-align: center;padding: 20px;background:red;color:#fff;">Вы используете <strong>устаревший</strong> браузер. <br>
  Пожалуйста, <a href="http://browsehappy.com/">обновите его</a> для корректного
  отображения сайтов.</div>
  <![endif]-->

</head>

<body id="body">
    <!-- .wrapper -->
    <div class="wrapper">

        <!-- .header -->
        <header class="header">
            <div class="header__inner">
                <!-- .header__box -->
                <div class="header__box">
                    <!-- .logo -->
                    <a href="index.html" class="logo">
                        <img src="{% static '/forum/images/logo.svg' %}" alt="logo" class="logo__img">
                    </a><!-- /.logo -->
                    <!-- .nav -->
                    <nav id="nav" class="nav">
                        <ul>
                            <li><a href="{% url 'news' %}" class="nav__link">Новости</a></li>
                            <li><a href="{% url 'categories' %}" class="nav__link">Форум</a></li>
                            <li><a href="{% url 'aso' %}" class="nav__link">ASO-оптимизация</a></li>
                            <li><a href="{% url 'curses' %}" class="nav__link">Обучение</a></li>
                            <li><a href="{% url 'sell' %}" class="nav__link">Продажа аккаунтов</a></li>
                            <li><a href="{% url 'about' %}" class="nav__link">О нас</a></li>
                            <li><a href="https://t.me/mobilemoneymakers" class="button">Наш чат в Telegram</a></li>
                            {% if not authorization %}
                                <li><a href="https://t.me/m3_forum_bot" class="nav__link hidden__desktop">Войти</a></li>
                            {% else %}
                                <li><a href="{% url 'news' %}?exit=1" class="nav__link hidden__desktop">Выйти</a></li>
                            {% endif %}
                        </ul>
                    </nav><!-- /.nav -->
                </div><!-- /.header__box -->
                <!-- .header__box -->
                <div class="header__box">
                    {% if authorization %}
                    <a href="{% url 'news' %}?exit=1" class="logout__button nav__link hidden__mobile">Выйти</a>
                    <span class="ava__header"><img src="{{ image }}" alt="#"></span>
                    <!-- .ding -->
                    <div id="ding" class="ding dropdown">
                        <button class="ding__toogle dropdown-toggle" type="button" id="dropdownMenu__ding"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="ding__icon" src="{% static '/forum/images/bell.svg' %}" alt="Уведомление">
                            {% if not notifications.today == 'Нет уведомлений' %}
                                <span class="ding__info">{{ notifications.today|length }}</span>
                            {% endif %}
                        </button>
                        <!-- .ding__box -->
                        <div class="dropdown-menu ding__box" aria-labelledby="dropdownMenu__ding">
                            <span class="ding__arrow"></span>
                            <!-- .ding__content -->
                            <div class="ding__content">
                                <!-- .dingList -->
                                <div class="dingList">
                                    <div class="dingList__title">Сегодня</div>
                                    {% if notifications.today == 'Нет уведомлений' %}
                                    <div class="dingList__item">
                                        <img class="dingList__item__icon" src="{% static '/forum/images/message.svg' %}"
                                            alt="Сообщение">
                                        <p class="dingList__item__desc">
                                            <a href="#">{{ notifications.today }}</a>
                                        </p>
                                    </div>
                                    {% else %}
                                    {% for notification in notifications.today %}
                                    {% if notification.type == 'message' %}
                                    <div class="dingList__item">
                                        <img class="dingList__item__icon" src="{% static '/forum/images/message.svg' %}"
                                            alt="Сообщение">
                                        <p class="dingList__item__desc">
                                            <a href="{% url 'forum-post' %}?forum={{ notification.id }}">Вам ответили на форуме {{ notification.name }} <span>в {{ notification.time }}</span></a>
                                        </p>
                                    </div>
                                    {% else %}
                                    <div class="dingList__item">
                                        <img class="dingList__item__icon" src="{% static '/forum/images/message.svg' %}"
                                            alt="Сообщение">
                                        <p class="dingList__item__desc">
                                            <a href="{% url 'news-post' %}?news={{ notification.id }}">Вам ответили под новостью {{ notification.name }} <span>в {{ notification.time }}</span></a>
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <!-- /.dingList -->
                                <!-- .dingList -->
                                <div class="dingList dingList__viewed">
                                    <div class="dingList__title">Вчера</div>
                                    {% if notifications.yesterday == 'Нет уведомлений' %}
                                    <div class="dingList__item">
                                        <img class="dingList__item__icon" src="{% static '/forum/images/message.svg' %}"
                                            alt="Сообщение">
                                        <p class="dingList__item__desc">
                                            <a href="#">{{ notifications.yesterday }}</a>
                                        </p>
                                    </div>
                                    {% else %}
                                    {% for notification in notifications.yesterday %}
                                    {% if notification.type == 'message' %}
                                    <div class="dingList__item">
                                        <img class="dingList__item__icon" src="{% static '/forum/images/message.svg' %}"
                                            alt="Сообщение">
                                        <p class="dingList__item__desc">
                                            <a href="{% url 'forum-post' %}?forum={{ notification.id }}">Вам ответили на форуме {{ notification.name }} <span>в {{ notification.time }}</span></a>
                                        </p>
                                    </div>
                                    {% else %}
                                    <div class="dingList__item">
                                        <img class="dingList__item__icon" src="{% static '/forum/images/message.svg' %}"
                                            alt="Сообщение">
                                        <p class="dingList__item__desc">
                                            <a href="{% url 'news-post' %}?news={{ notification.id }}">Вам ответили под новостью {{ notification.name }} <span>в {{ notification.time }}</span></a>
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <!-- /.dingList -->
                            </div><!-- /.ding__content -->
                        </div><!-- /.ding__box -->
                    </div><!-- /.ding -->

                    <script>
                        // ding
                        var ding = document.getElementById('ding');
                        var body = document.getElementById("body");
                        ding.addEventListener('show.bs.dropdown', function () {
                            body.classList.add('dingActive');
                        });
                        ding.addEventListener('hidden.bs.dropdown', function () {
                            body.classList.remove('dingActive');
                        });
                    </script>

                    {% else %}
                    <a href="https://t.me/m3_forum_bot" class="nav__link hidden__mobile">Login</a>

                    {% endif %}
                    <!-- .nav__open -->
                    <button id="nav__open" type="button" class="navToggle">
                        <span class="navToggle__inner">
                            <i></i>
                            <i></i>
                            <i></i>
                        </span>
                    </button><!-- /.nav__open -->

                </div><!-- /.header__box -->
            </div>
        </header><!-- .header -->

        <div class="main">

            {% block content %}
            {% endblock %}

        </div><!-- /.main -->

    </div>
    <!-- .wrapper -->

    <script src="{% static '/forum/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static '/forum/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/forum/js/main.js' %}"></script>

</body>

</html>