{% extends 'base.html' %} {% block content %}

{% load static %}

<div class="container container__lg">

  <!-- .forum -->
  <div class="forum">

    <!-- .forumBreadcrumb -->
    <div class="forumBreadcrumb">
      Categories /
    </div><!-- /.forumBreadcrumb -->

    {% for category in categories %}

    <!-- .forumItem -->
    <div class="forumItem">
      <span class="forumItem__icon">
        <img src="{% static '/forum/images/message.svg' %}" alt="#">
      </span>
      <div class="forumItem__desc">
        <div class="forumItem__desc__name"><a href="{% url 'forum' %}?category={{ category.id }}">
            {{ category.name}}</a></div>
        <div class="forumItem__desc__text">{{ category.description }}</div>
      </div>
      <div class="forumItem__counters">
        <div class="forumItem__counter">
          <span class="forumItem__counter__number">{{ category.forums_count }}</span>
          <span class="forumItem__counter__name">Threads</span>
        </div>
      </div>
      {% if category.last_message_forum %}
      <div class="forumItem__user">
        <div>
          <span class="forumItem__user__title">
            <a href="{% url 'forum-post' %}?forum={{ category.last_message_forum.id }}">
              {{ category.last_message_forum.name }}
            </a>
          </span>
          <span class="forumItem__user__info">
            Last message • {{ category.last_message_forum.date }} в {{ category.last_message_forum.time }}
          </span>
        </div>
      </div>
      {% endif %}
    </div><!-- /.forumItem -->

    {% endfor %}

  </div><!-- /.forum -->

</div>

{% endblock %}