{% extends 'base.html' %} {% block content %}

{% load static %}

<div class="container container__lg">

  <!-- .forum -->
  <div class="forum">

    <!-- .forumBreadcrumb -->
    <div class="forumBreadcrumb">
      / <a href="{% url 'forum' %}?category={{ forum.category_id }}">
        {{ forum.category_name }}</a> / {{ forum.forum_name }}
    </div><!-- /.forumBreadcrumb -->

    {% for message in messages %}

    <!-- .forumPost -->
    <div class="forumPost">
      <div class="forumPost__panel">
        <div class="forumPost__panel__inner">
          <span class="forumPost__ava"><img src="{{ message.user.image.url }}" alt="#"></span>
          {% if message.user.user_name %}
          <a href="https://t.me/{{ message.user.user_name }}">{{ message.user.first_name }}</a>
          {% else %}
          <a href="#">{{ message.user.first_name }}</a>
          {% endif %}
        </div>
        <div class="forumPost__panel__inner">
          <span>{{ message.date }} в {{ message.time }}</span>
          <!-- <a href="#"><img src="{% static '/forum/images/forum-share.svg' %}" alt="Share"></a> -->
          <a href="javascript:void(0)" onclick="showArea({{ message.id }})">
            <img src="{% static '/forum/images/forum-reply.svg' %}" alt="Reply">
          </a>
          <a href="#">#{{ forloop.counter }}</a>
        </div>
      </div>
      <div class="forumPost__content">
        {% if message.image %}
          <img class="message__img" src="{{ message.image.url }}">
        {% endif %}
        <p>{{ message.message_text }}</p>
      </div>
    </div><!-- /.forumPost -->

    <div class="forumPost" style="display: none;" id="block_{{ message.id }}">
      {% if authorization %}
      <!-- .forumPost -->
      <div class="forumPost">
        <p>Ответ на сообщение:</p>
        <form method="POST" id="form_{{ message.id }}">
          {% csrf_token %}
          <input type="text" name="is_answer" style="display:none;" value='' />
          <input type="text" name="forum_id" style="display:none;" value='{{ forum.forum_id }}' />
          <input type="text" name="reply_to" style="display:none;" value='{{ message.id }}' />
          <input type="text" name="receiver" style="display:none;" value='{{ message.user.id }}' />
          <textarea id="textarea_{{ message.id }}" name="message_text" class="textarea" rows="3"></textarea>
          <div class="input_form">
            <div>
              <label>Добавить изображение:</label>
              <input type="file" name="image" accept="image/png, image/jpg, image/jpeg" />
            </div>
            <button onclick="checkInput({{ message.id }})" type="button" class="button input_form__button">Ответить на сообщение</button>
          </div>
        </form>
      </div><!-- /.forumPost -->

      {% else %}
      <div class="forumPost">
        <p>Чтобы отправить комментарий, вы должны авторизироваться</p>
        <a href="https://t.me/m3_forum_bot" class="button">Войти с Телеграм</a>
      </div>
      {% endif %}
    </div>

    {% for reply in message.replies %}

    <!-- .forumPost -->
    <div class="forumPost commentsItem__tree">
      <div class="forumPost__panel">
        <div class="forumPost__panel__inner">
          <span class="forumPost__ava"><img src="{{ reply.user.image.url }}" alt="#"></span>
          {% if message.user.user_name %}
          <a href="https://t.me/{{ reply.user.user_name }}">{{ reply.user.first_name }}</a>
          {% else %}
          <a href="#">{{ reply.user.first_name }}</a>
          {% endif %}
        </div>
        <div class="forumPost__panel__inner">
          <span>{{ reply.date }} в {{ reply.time }}</span>
          <!-- <a href="#"><img src="{% static '/forum/images/forum-share.svg' %}" alt="Share"></a> -->
          <a href="javascript:void(0)" onclick="showArea({{ reply.id }})">
            <img src="{% static '/forum/images/forum-reply.svg' %}" alt="Reply">
          </a>
        </div>
      </div>
      <div class="forumPost__content">
        {% if reply.image %}
          <img class="message__img" src="{{ reply.image.url }}">
        {% endif %}
        <p>
          {% if reply.receiver %}
            {% if reply.receiver.user_name %}
            <a href="https://t.me/{{ reply.receiver.user_name }}">{{ reply.receiver.first_name }}</a>, {% else %}
            <a href="#">{{ reply.receiver.first_name }}</a>, {% endif %}
          {% endif %}
          {{ reply.message_text }}</p>
      </div>
    </div><!-- /.forumPost -->

    <div class="forumPost" style="display: none;" id="block_{{ reply.id }}">
      {% if authorization %}
      <!-- .forumPost -->
      <div class="forumPost">
        <p>Ответ на сообщение:</p>
        <form method="POST" id="form_{{ reply.id }}">
          {% csrf_token %}
          <input type="text" name="is_answer" style="display:none;" value='{{ reply.id }}' />
          <input type="text" name="forum_id" style="display:none;" value='{{ forum.forum_id }}' />
          <input type="text" name="reply_to" style="display:none;" value='{{ message.id }}' />
          <input type="text" name="receiver" style="display:none;" value='{{ reply.user.id }}' />
          <textarea id="textarea_{{ reply.id }}" name="message_text" class="textarea" rows="3"></textarea>
          <div class="input_form">
            <div>
              <label>Добавить изображение:</label>
              <input type="file" name="image" accept="image/png, image/jpg, image/jpeg" />
            </div>
            <button onclick="checkInput({{ reply.id }})" type="button" class="button input_form__button">Ответить на сообщение</button>
          </div>
        </form>
      </div><!-- /.forumPost -->

      {% else %}
      <div class="forumPost">
        <p>Чтобы отправить комментарий, вы должны авторизироваться</p>
        <a href="https://t.me/m3_forum_bot" class="button">Войти с Телеграм</a>
      </div>
      {% endif %}
    </div>

    {% endfor %}

    {% endfor %}

    <!-- .forumPost -->
    <div class="forumPost">
      <p>Отправить сообщение:</p>
      {% if authorization %}
      <form method="POST" id="form_default" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="is_answer" style="display:none;" value='' />
        <input type="text" name="reply_to" style="display:none;" value='' />
        <input type="text" name="receiver" style="display:none;" value='' />
        <input type="text" name="forum_id" style="display:none;" value='{{ forum.forum_id }}' />
        <textarea id="textarea_default" name="message_text" class="textarea" rows="3"></textarea>
        <div class="input_form">
          <div>
            <label>Добавить изображение:</label>
            <input type="file" name="image" accept="image/png, image/jpg, image/jpeg" />
          </div>
          <button onclick="checkInput('default')" type="button" class="button input_form__button">Отправить сообщение</button>
        </div>
      </form>
      {% else %}
      <div class="comments__guest">
        <p>Чтобы отправить Сообщение, вы должны авторизироваться</p>
        <a href="https://t.me/m3_forum_bot" class="button">Войти с Телеграм</a>
      </div>
      {% endif %}
    </div><!-- /.forumPost -->

  </div><!-- /.forum -->
</div>

<script>
  function checkInput(form_id) {
    let text = document.getElementById('textarea_' + form_id);
    if (text.value === "") {
      alert('Пустое сообщение !');
    } else {
      let form = document.getElementById('form_' + form_id);
      form.action = "{% url 'forum-post' %}?forum={{ forum.forum_id }}";
      document.body.append(form);
      form.submit();
    }
  }
</script>

{% endblock %}