{% extends 'base.html' %} {% block content %}

{% load static %}

<div class="container container__sm">

  <!-- .newsPost -->
  <div class="newsPost">

    <!-- .backLink -->
    <a href="{% url 'news' %}" class="backLink">
      <img src="{% static '/forum/images/back.svg' %}" alt="Назад">
    </a><!-- /.backLink -->

    <!-- .newsAbs -->
    <div class="newsAbs">
      <a href="#" class="newsAbs__item"><img src="{% static '/forum/images/share.svg' %}" alt="Поделиться"></a>
    </div><!-- /.newsAbs -->

    <!-- .newsPost__inner -->
    <div class="newsPost__inner">
      <div class="newsPost__imgbox">
        <img src="{{ news.image.url }}" alt="Новость">
      </div>
      <h1 class="newsPost__title h2">{{ news.title }}</h1>
      <div class="newsPost__info">
        {% for hashtag in news.hashtags %}<a href="{{ hashtag }}">#{{ hashtag }}</a> {% endfor %}/ {{ news.date }}
      </div>
      <p>
        {{ news.info }}
      </p>
    </div><!-- /.newsPost__inner -->

    <!-- .comments -->
    <div class="comments">
      <div class="comments__title">Комментарии 4</div>

      <div class="commentsItem">
        <div class="commentsItem__panel">
          <span class="commentsItem__ava"><img src="./img/ava-2.png" alt="#"></span>
          <a href="#">hellamps</a>
          <span>07.01.2022 в 16:36</span>
        </div>
        <div class="commentsItem__content">
          да что вы говорите, не используются! у каждого первого докер, который построен на этих неймспейсах.
        </div>
        <a href="#">Ответить</a>
      </div>
      <div class="commentsItem commentsItem__tree">
        <div class="commentsItem__panel">
          <span class="commentsItem__ava"><img src="./img/ava-2.png" alt="#"></span>
          <a href="#">hellamps</a>
          <span>07.01.2022 в 16:36</span>
        </div>
        <div class="commentsItem__content">
          да что вы говорите, не используются! у каждого первого докер, который построен на этих неймспейсах.
        </div>
        <a href="#">Ответить</a>
      </div>
      <div class="commentsItem commentsItem__tree">
        <div class="commentsItem__panel">
          <span class="commentsItem__ava"><img src="./img/ava-2.png" alt="#"></span>
          <a href="#">hellamps</a>
          <span>07.01.2022 в 16:36</span>
        </div>
        <div class="commentsItem__content">
          да что вы говорите, не используются! у каждого первого докер, который построен на этих неймспейсах.
        </div>
        <a href="#">Ответить</a>
      </div>
      <div class="comments__title">Оставить комментарий:</div>
      <div class="comments__guest">
        <p>Чтобы отправить комментарий, вы должны авторизироваться</p>
        <a href="#" class="button">Войти с Телеграм</a>
      </div>
      <form>
        <textarea class="textarea" rows="3"></textarea>
        <button type="button" class="button">Отправить комментарий</button>
      </form>
    </div>
    <!-- /.comments -->

  </div><!-- /.newsPost -->

</div>

{% endblock %}