{% extends 'base.html' %} {% block content %}

{% load static %}

<div class="container container__sm">

  <!-- .newsPost -->
  <div class="newsPost">

    <!-- .backLink -->
    <a href="{% url 'news' %}" class="backLink">
      <img src="{% static '/forum/images/back.svg' %}" alt="Назад">
    </a><!-- /.backLink -->

    <!-- .newsAbs -->
    <div class="newsAbs">
      <a href="#" class="newsAbs__item"><img src="{% static '/forum/images/share.svg' %}" alt="Поделиться"></a>
    </div><!-- /.newsAbs -->

    <!-- .newsPost__inner -->
    <div class="newsPost__inner">
      <div class="newsPost__imgbox">
        <img src="{{ news.image.url }}" alt="Новость">
      </div>
      <h1 class="newsPost__title h2">{{ news.title }}</h1>
      <div class="newsPost__info">
        {% for hashtag in news.hashtags %}<a href="{{ hashtag }}">#{{ hashtag }}</a> {% endfor %}/ {{ news.date }}
      </div>
      <p>
        {{ news.info }}
      </p>
    </div><!-- /.newsPost__inner -->

    <!-- .comments -->
    <div class="comments">
      <div class="comments__title">Комментарии 4</div>

      {% for comment in comments %}

      <div class="commentsItem">
        <div class="commentsItem__panel">
          <span class="commentsItem__ava"><img src="{{ comment.user.image.url }}" alt="#"></span>
          {% if comment.user.user_name %}
          <a href="https://t.me/{{ comment.user.user_name }}">{{ comment.user.first_name }}</a>
          {% else %}
          <a href="">{{ comment.user.first_name }}</a>
          {% endif %}
          <span>{{ comment.date }} в {{ comment.time }}</span>
        </div>
        <div class="commentsItem__content">
          {{ comment.message_text }}
        </div>

        <a href="javascript:void(0)" onclick="showArea({{ comment.id }})">Ответить</a>

        <div class="comments_textareas" style="display: none;" id="block_{{ comment.id }}">
          {% if authorization %}
          <form method="POST" id="form_{{ comment.id }}">
            {% csrf_token %}
            <input type="text" name="news_id" style="display:none;" value='{{ news.id }}' />
            <input type="text" name="reply_to" style="display:none;" value='{{ comment.id }}' />
            <input type="text" name="answer_to" style="display:none;" value='{{ comment.user.telegr_id }}' />
            <textarea id="textarea_{{ comment.id }}" name="message_text" class="textarea" rows="3"></textarea>
            <button onclick="checkInput({{ comment.id }})" type="button" class="button">Отправить комментарий</button>
          </form>
          {% else %}
          <div class="comments__guest">
            <p>Чтобы отправить комментарий, вы должны авторизироваться</p>
            <a href="https://t.me/mi_forum_bot" class="button">Войти с Телеграм</a>
          </div>
          {% endif %}
        </div>
      </div>

      {% for reply in comment.replies %}

          <div class="commentsItem commentsItem__tree">
            <div class="commentsItem__panel">
              <span class="commentsItem__ava"><img src="{{ comment.user.image.url }}" alt="#"></span>
              {% if reply.user.user_name %}
              <a href="https://t.me/{{ comment.user.user_name }}">{{ reply.user.first_name }}</a>
              {% else %}
              <a href="">{{ reply.user.first_name }}</a>
              {% endif %}
              <span>{{ reply.date }} в {{ reply.time }}</span>
            </div>
            <div class="commentsItem__content">
              {{ reply.message_text }}
            </div>
    
            <a href="javascript:void(0)" onclick="showArea({{ reply.id }})">Ответить</a>
    
            <div class="comments_textareas" style="display: none;" id="block_{{ reply.id }}">
              {% if authorization %}
              <form method="POST" id="form_{{ reply.id }}">
                {% csrf_token %}
                <input type="text" name="news_id" style="display:none;" value='{{ news.id }}' />
                <input type="text" name="reply_to" style="display:none;" value='{{ comment.id }}' />
                <input type="text" name="answer_to" style="display:none;" value='{{ comment.user.telegr_id }}' />
                <textarea id="textarea_{{ reply.id }}" name="message_text" class="textarea" rows="3"></textarea>
                <button onclick="checkInput({{ reply.id }})" type="button" class="button">Отправить комментарий</button>
              </form>
              {% else %}
              <div class="comments__guest">
                <p>Чтобы отправить комментарий, вы должны авторизироваться</p>
                <a href="https://t.me/mi_forum_bot" class="button">Войти с Телеграм</a>
              </div>
              {% endif %}
            </div>
          </div>

        {% endfor %}

      {% endfor %}

      <div class="comments__title">Оставить комментарий:</div>
      {% if authorization %}
      <form method="POST" id="form_default">
        {% csrf_token %}
        <input type="text" name="news_id" style="display:none;" value='{{ news.id }}' />
        <input type="text" name="reply_to" style="display:none;" value='' />
        <input type="text" name="answer_to" style="display:none;" value='' />
        <textarea id="textarea_default" name="message_text" class="textarea" rows="3"></textarea>
        <button onclick="checkInput('default')" type="button" class="button">Отправить комментарий</button>
      </form>
      {% else %}
      <div class="comments__guest">
        <p>Чтобы отправить комментарий, вы должны авторизироваться</p>
        <a href="https://t.me/mi_forum_bot" class="button">Войти с Телеграм</a>
      </div>
      {% endif %}
    </div>
    <!-- /.comments -->

    <script>
      function checkInput(form_id) {
        let text = document.getElementById('textarea_' + form_id);
        if (text.value === "") {
          alert('Пустой комментарий !');
        } else {
          let form = document.getElementById('form_' + form_id);
          form.action = "{% url 'news-post' %}";
          document.body.append(form);
          form.submit();
        }
      }
    </script>

  </div><!-- /.newsPost -->

</div>

{% endblock %}