{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="search__bar input-group rounded">
    <input id="searchbar" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" onkeyup="search_info()" />
  </div>

  <!-- .news -->
  <div class="news">
    {% for news in data %}
    <!-- .newsItem -->
    <div class="newsItem">
      <div class="newsItem__inner">
        <div class="newsItem__imgbox">
          <a href="{% url 'news-post' %}?news={{ news.id }}"><img src="{{ news.image.url }}" alt="Новости"></a>
        </div>
        <div class="newsItem__content">
          <div class="newsItem__title">
            <a href="{% url 'news-post' %}?news={{ news.id }}">{{ news.title }}</a>
          </div>
          <p class="newsItem__desc">
            {{ news.pre_info }}
          </p>
          <div class="newsItem__info">
            {% for hashtag in news.hashtags %}<a href="#">#{{ hashtag }}</a> {% endfor %}/ {{ news.date }}
          </div>
        </div>
      </div>
    </div><!-- .newsItem -->
    {% endfor %}

  </div><!-- /.news -->

</div>

{% endblock %}