{% extends 'base.html' %} {% block content %}

{% load static %}

<div class="container container__sm">

  <!-- .newsPost -->
  <div class="newsPost">

    <!-- .backLink -->
    <a href="{% url 'news' %}" class="backLink">
      <img src="{% static '/forum/images/back.svg' %}" alt="Назад">
    </a><!-- /.backLink -->

    <!-- .newsAbs -->
    <div class="newsAbs">
      <a href="#" class="newsAbs__item"><img src="{% static '/forum/images/share.svg' %}" alt="Поделиться"></a>
    </div><!-- /.newsAbs -->

    <!-- .newsPost__inner -->
    <div class="newsPost__inner">
      <div class="newsPost__imgbox">
        <img src="{{ news.image.url }}" alt="Новость">
      </div>
      <h1 class="newsPost__title h2">{{ news.title }}</h1>
      <div class="newsPost__info">
        {% for hashtag in news.hashtags %}<a href="{{ hashtag }}">#{{ hashtag }}</a> {% endfor %}/ {{ news.date }}
      </div>
      <p>
        {{ news.info }}
      </p>
    </div><!-- /.newsPost__inner -->

    <!-- .comments -->
    <div class="comments">
      <div class="comments__title">Комментарии 4</div>

      {% for comment in comments %}

        <div class="commentsItem">
          <div class="commentsItem__panel">
            <span class="commentsItem__ava"><img src="{{ comment.user.image.url }}" alt="#"></span>
            {% if comment.user.user_name %}
              <a href="https://t.me/{{ comment.user.user_name }}">{{ comment.user.first_name }}</a>
            {% else %}
              <a href="">{{ comment.user.first_name }}</a>
            {% endif %}
            <span>{{ comment.date }} в {{ comment.time }}</span>
          </div>
          <div class="commentsItem__content">
            {{ comment.message_text }}
          </div>
          <a href="#">Ответить</a>
        </div>

        <!--{% for reply in comment.replies %}

          <div class="commentsItem commentsItem__tree">
            <div class="commentsItem__panel">
              <span class="commentsItem__ava"><img src="./img/ava-2.png" alt="#"></span>
              {% if comment.user.user_name %}
                <a href="https://t.me/{{ comment.user.user_name }}">{{ comment.user.first_name }}</a>
              {% else %}
                <a href="">{{ comment.user.first_name }}</a>
              {% endif %}
              <span>{{ comment.date }} в {{ comment.time }}</span>
            </div>
            <div class="commentsItem__content">
              {{ comment.message_text }}
            </div>
            <a href="#">Ответить</a>
          </div>

        {% endfor %}-->

      {% endfor %}

      <div class="comments__title">Оставить комментарий:</div>
      {% if authorization %}
      <form method="POST">
        {% csrf_token %}
        <input type="text" name="news_id" style="display:none;" value='{{ news.id }}'/>
        <input type="text" name="reply_to" style="display:none;" value=''/>
        <textarea name="message_text" class="textarea" rows="3"></textarea>
        <button type="submit" class="button">Отправить комментарий</button>
      </form>
      {% else %}
      <div class="comments__guest">
        <p>Чтобы отправить комментарий, вы должны авторизироваться</p>
        <a href="#" class="button">Войти с Телеграм</a>
      </div>
      {% endif %}
    </div>
    <!-- /.comments -->

  </div><!-- /.newsPost -->

</div>

{% endblock %}