{% extends 'base.html' %} {% block content %}

<div class="container container__sm">

  <!-- .slovar -->
  <div class="slovar">
    <h1 class="h2">Словарь мобильных терминов Манимэйкера</h1>
    <br>
    <p>
      <strong>Органический трафик (органика)</strong> - трафик из магазина приложений, органическим называется потому
      что установки идут из поиска и за них не нужно платить.
    </p>
    <p>
      <strong>Рекламный (арбитражный) трафик</strong> - рекламный трафик на приложения, фейсбук, гугл, тикток, попсы и
      другое.
    </p>
    <p>
      <strong>Мотивированный трафик (мотив)</strong> - установки за мотивацию, мотивированные деньгами. Обычно
      используется для индексации приложения в сторе и для поднятия его же по позициям.
    </p>
    <p>
      <strong>Стор</strong> - App Store, Play Market, магазин приложений в общем.
    </p>
    <p>
      <strong>Пуш</strong> - поднятие приложения по позициям методом пролива мотивированным трафиком.
    </p>
    <p>
      <strong>АСО (ASO - App Store Optomozation)</strong> - процесс увеличения видимости приложения или игры в магазине
      приложений с целью увеличения загрузок приложений.
    </p>
    <p>
      <strong>Бан</strong> - блокировка приложения.
    </p>
    <p>
      <strong>Реджект</strong> - отклонение приложения (причины обычно пишет сам гугл в письме).
    </p>
    <p>
      <strong>Трендовые приложения</strong> - приложения, которые обигрывают какой-то тренд. Симпл-димпл, например, или
      слаймы.
    </p>
    <p>
      <strong>Брендовые приложения</strong> - приложения, которые используют брендовые запросы для получения трафика.
      Например: PUBG Cheats.
    </p>
    <p>
      <strong>Доры (дорвеи)</strong> - одностраничные приложения, суть которых после установки перенаправить
      пользователя куда-то.
    </p>
    <p>
      <strong>Вебвью (webview)</strong> - приложение, в котором открывается интернет-браузер либо определенная ссылка.
    </p>
    <p>
      <strong>Конверсия</strong> - число пользователей (либо действий), целенаправленно выполненные в приложении.
      Например, конверсией считается заказ в приложении.
    </p>
    <p>
      <strong>APK/AAB, АПК/ААБ</strong> - формат архивных исполняемых файлов-приложений для Android. По сути, это уже
      приложение. Такое, каким мы его видим перед заливкой в стор.
    </p>
    <p>
      <strong>Интерстишил</strong> - вид рекламы (всплывающее окно рекламы не весь экран).
    </p>
    <p>
      <strong>Ревардед</strong> - вид рекламы (вид рекламы на вознаграждение, обычно формата видео 30с.).
    </p>
    <p>
      <strong>Баннер</strong> - вид рекламы (баннер внизу, вверху страницы, либо в другом месте).
    </p>
    <p>
      <strong>Сплэш скрин</strong> - заставка приложения.
    </p>
    <p>
      <strong>Онбординг</strong> - краткое знакомство с приложением перед его открытием. Обычно выглядит как презентация
      лучших фичей в приложении на пару экранов (например, "У нас все работает быстро" + картинка / "Захотиде и
      пробуйте" + картинка).
    </p>
    <p>
      <strong>Фичи</strong> - какие-то фишки или особенности в вашем приложении либо в продукте.
    </p>
    <p>
      <strong>Инсталл</strong> - установка.
    </p>
    <p>
      <strong>Ключи</strong> - ключевые слова.
    </p>
    <p>
      <strong>Саджесты</strong> - выпадающие подсказки при поиске в Play Market, App Store.
    </p>
  </div><!-- /.slovar -->

</div>

{% endblock %}